VITE_API_BASE_URL=http://localhost:8000
VITE_API_CCTV_URL=http://localhost:8889/gate1
VITE_APP_NAME="Gate TIK"
VITE_ANDROID_INSTALLATION_URL=https://...
VITE_WINDOWS_AMD64_INSTALLATION_URL=https://...
VITE_LINUX_AMD64_INSTALLATION_URL=https://...
VITE_LINUX_ARM64_INSTALLATION_URL=https://...
VITE_APP_RELEASE_PAGE=https://...
VITE_APP_LATEST_VERSION=v1.0.0